* {
    box-sizing: border-box;
  }
  
  body {
      background-color:#2063A5; 
      margin:  5px;
      padding: 5px;
      font-family: Arial, sans-serif;
  }
  
  div {
      text-align: center;
  }
  
  h1 {
      font-size: 1.75em;
      margin-bottom: 15px;
      color: orange;
      font-size: 5rem;
      margin-top: 5rem;
      margin-bottom: 3rem;
      text-shadow: 0.2rem 0.2rem 0.4rem black;
  }
  
  h2 {
      font-size: 1.25em;
      float:  right;
      width: 150px;
      margin:  -1px;
      margin-bottom: 5px;
      padding: 3px;
      border: 1px solid black;
  }



  #s1 div h2 {
      background-color: lightblue;
  }
  
  #s2 div h2 {
      background-color: lightgreen;
  }
  
  #s3 div h2 {
      background-color: lightcoral;
  }
  
  p {
      clear: right;
      margin: 5px;
      text-align: justify;
    
  }
  
  .colm {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 0px;
      border: 2px solid rgba(6, 30, 128, 0.929);
      background-color: rgb(236, 177, 16);
  }
  

  
  @media (min-width:  992px) {
      #s1 {
          width:  33.33%;
          float: left;
      }
  
      #s2 {
          width:  33.33%;
          float: left;
      }
  
      #s3 {
          width:  33.33%;
          float: left;
      }
  }
  
  @media (min-width: 768px) and (max-width:  991px){
      #s1 {
          width:  50%;
          float: left;
      }
  
      #s2 {
          width:  50%;
          float: left;
      }
  
      #s3 {
          width:  100%;
          float: left;
      }
  }
  
  @media (max-width:  767px){
      #s1 {
          width:  100%;
          float: left;
      }
  
      #s2 {
          width:  100%;
          float: left;
      }
  
      #s3 {
          width:  100%;
          float: left;
      }
  }